@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Bienvenidos</h1>
</div>
<div id="contenedor">
    <div id="menu">
        <div id="imagenmotivacion">
            <img src="@ViewBag.PhotoMotivacion">
        </div>
    </div>
    <div id="contenido">
        <div id="imagenindex">
            <img src="@ViewBag.Photo">
        </div>
    </div>
</div>
